body {
	display: flex; /*フレックスボックスを使用*/
	margin: 0; /*余白リセット*/
	padding: 0; /*余白リセット*/
	font-family: Arial, sans-serif; /*フォントの種類*/
}

nav { /*htmlのnavタグにスタイルを適用するときに使う*/
	width: 200px;
	background-color: #333;
	color: white;
	height: 500vh;
	padding: 20px;
	box-sizing: border-box;
	flex-shrink: 0;
}

nav a { /*navのリンク*/
	display: block;
	color: white;
	padding: 10px;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius: 5px;
}

nav a:hover { /*リンクにカーソルあわせたら*/
	background-color: #555;
}

.content {
	flex-grow: 1; /* フレックスボックスの余白を埋める割合を指定 */
	padding: 20px; /* 要素の内側の余白を20pxに設定 */
	box-sizing: border-box;
	display: block;
}
